body{
    color: white;
    font-family: 'Baloo Bhai 2';
    margin: 0px;
    padding: 0%;
    background: url(Image/Gym1.jpg);
    height: 1000px;
}
.center{
    /* border: 2px solid red; */
    display: block;
    font-size: 30px;
    width:32%;
    margin:auto;
}
.right{
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 25px;
    /* border: 2px solid green; */
}
.left{
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 15px;
    margin-left: 20px;
    line-height: 20px;
    font: 40px;
    /* border: 2px solid blue; */
}
.left div{
    text-align: center;
    font-size: 20px;
}
.navbar{
    margin-left: auto;
}
nav li{
    display: inline-block;
    padding : 10px;
    font-size: 19px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover ,a.active{
    text-decoration: underline;
    color: rgb(82, 226, 255);
}
#image{
    width: 120px;
    filter: invert(100%);
}
.bt{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.bt:hover ,.bt.active{
    text-decoration: underline;
    color:rgb(82, 226, 255);
}
.container{
   border: 2px solid rgb(253, 253, 253);
   display: inline-block;
   margin-top: 75px;
   width: 425px;
   text-align: center;
   position: absolute;
   right: 50px;
   padding: 30px;
}
.classform input{
    text-align: center;
    border: 2px solid black;
    font-family: 'Baloo Bhai 2';
    display: block;
    width: 275px;
    padding: 10px;
    font-size: 20px;
    margin: 10px auto;
    border-radius: 20px;
}
.mooki{
    /* border: 2px solid white; */
    display: inline-block;
    margin-top: 75px;
    position: absolute;
    left: 50px;
    width: 500px;
    padding-top: 30px;
    font-size: 20px;
}